@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Mulish:wght@200;300;400;500&display=swap');



.App {
  text-align: center;
  display: flex;
  justify-content: center;
}

html body {
  background-color: #B4C5E4;
  box-sizing: border-box;
  margin: 0;
  /* border:5px solid red; */
}

.Header {
  margin-top: 50px;
  width: 50%;
  background-color: #FBFFF1;
  position: fixed;
  border-radius: 10px;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 3rem;
}

.Input-section {
  display: flex;
  justify-content: center;
}

.Input {
  display: flex;
  align-items: center;
  width: 70%;
}

h1 {
  font-family: 'Aboreto', cursive;
}

h4 {
  font-weight: 400;
  font-family: 'Mulish', sans-serif;
}

.Header-input {
  padding: 1rem;
  width: 90%;
  font-size: 1rem;
  border-radius: 5px;
  border: inset 2px #f1eed6;
  outline: none;
}

.Submit-btn {
  /* position: absolute; */
  width: 30px;
  height: 30px;
  border-radius: 1cm;
  margin-left: 6px;
  border: none;
  background-color: #B4C5E4;
  transition: 300ms ease-in-out;
  cursor: pointer;
}

.Submit-btn:hover {
  transform: scale(.9);
  transition: 300ms ease-in-out;
}

.List {
  border: 5px solid red;
}

@media screen and (max-width:1500px) {
  .Header {
    width:60%;
  }
}

@media screen and (max-width:960px) {
  .Header {
    width:80%;
  }
}